<h1 class="text-center font-bold py-2 text-gray-700">Log in to Trello</h1>
<form [formRoot]="form" class="space-y-4">
  <div>
    <div class="relative">
      <input
        [formField]="form.email"
        placeholder="Enter email"
        type="email"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
      <button type="button" class="p-2 absolute right-2" (click)="form.email().focusBoundControl()">
        <span class="material-symbols-outlined">edit</span>
      </button>
    </div>
    @if (form.email().touched() && form.email().invalid()) {
      <div>
        @if (form.email().getError('required')) {
          <p class="font-medium text-red-500 text-xs mt-1 ml-1">
            This field is mandatory
          </p>
        }
        @if (form.email().getError('email')) {
          <p class="font-medium text-red-500 text-xs mt-1 ml-1">
            This field should be a email
          </p>
        }
      </div>
    }
  </div>
  <div>
    <div class="relative">
      <input
        [formField]="form.password"
        placeholder="Enter password"
        [type]="showPassword ? 'text' : 'password'"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
      <button type="button" class="p-2 absolute right-2" (click)="showPassword = !showPassword">
        <span class="material-symbols-outlined">{{ showPassword ? 'visibility' : 'visibility_off' }}</span>
      </button>
    </div>
    @if (form.password().touched() && form.password().invalid()) {
      <div>
        @if (form.password().getError('required')) {
          <p class="font-medium text-red-500 text-xs mt-1 ml-1">
            This field is mandatory
          </p>
        }
        @if (form.password().getError('minLength')) {
          <p class="font-medium text-red-500 text-xs mt-1 ml-1">
            This field should be greater than 6 characters
          </p>
        }
      </div>
    }
  </div>
  @if (status === 'failed') {
    <div>
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">{{ errorMessage }}</p>
    </div>
  }
  <div>
    <app-btn
      typeBtn="submit"
      color="success"
      [loading]="status === 'loading'"
      >Login</app-btn
    >
  </div>
</form>
