<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="doSave()">
  <div>
    <div class="flex flex-wrap gap-3">
      <div class="flex items-center">
        <input
          id="sky-radio"
          type="radio"
          value="sky"
          name="backgroundColor"
          formControlName="backgroundColor"
          class="sr-only peer"
          aria-labelledby="sky-radio-label"
        />
        <label
          id="sky-radio-label"
          for="sky-radio"
          class="inline-flex items-center justify-center w-8 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-sky-700 hover:bg-sky-500 peer-checked:text-white"
          >
          <fa-icon [icon]="faCheck"></fa-icon>
          <span class="sr-only">Sky</span>
        </label>
      </div>
      <div class="flex items-center">
        <input
          id="yellow-radio"
          type="radio"
          value="yellow"
          name="backgroundColor"
          formControlName="backgroundColor"
          class="sr-only peer"
          aria-labelledby="yellow-radio-label"
        />
        <label
          id="yellow-radio-label"
          for="yellow-radio"
          class="inline-flex items-center justify-center w-8 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-yellow-700 hover:bg-yellow-500 peer-checked:text-white"
          >
          <fa-icon [icon]="faCheck"></fa-icon>
          <span class="sr-only">Yellow</span>
        </label>
      </div>
      <div class="flex items-center">
        <input
          id="red-radio"
          type="radio"
          value="red"
          name="backgroundColor"
          formControlName="backgroundColor"
          class="sr-only peer"
          aria-labelledby="red-radio-label"
        />
        <label
          id="red-radio-label"
          for="red-radio"
          class="inline-flex items-center justify-center w-8 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-red-700 hover:bg-red-500 peer-checked:text-white"
          >
          <fa-icon [icon]="faCheck"></fa-icon>
          <span class="sr-only">Red</span>
        </label>
      </div>
      <div class="flex items-center">
        <input
          id="violet-radio"
          type="radio"
          value="violet"
          name="backgroundColor"
          formControlName="backgroundColor"
          class="sr-only peer"
          aria-labelledby="violet-radio-label"
        />
        <label
          id="violet-radio-label"
          for="violet-radio"
          class="inline-flex items-center justify-center w-8 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-violet-700 hover:bg-violet-500 peer-checked:text-white"
          >
          <fa-icon [icon]="faCheck"></fa-icon>
          <span class="sr-only">Violet</span>
        </label>
      </div>
      <div class="flex items-center">
        <input
          id="gray-radio"
          type="radio"
          value="gray"
          name="backgroundColor"
          formControlName="backgroundColor"
          class="sr-only peer"
          aria-labelledby="gray-radio-label"
        />
        <label
          id="gray-radio-label"
          for="gray-radio"
          class="inline-flex items-center justify-center w-8 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-gray-700 hover:bg-gray-500 peer-checked:text-white"
          >
          <fa-icon [icon]="faCheck"></fa-icon>
          <span class="sr-only">Gray</span>
        </label>
      </div>
      <div class="flex items-center">
        <input
          id="green-radio"
          type="radio"
          value="green"
          name="backgroundColor"
          formControlName="backgroundColor"
          class="sr-only peer"
          aria-labelledby="green-radio-label"
        />
        <label
          id="green-radio-label"
          for="green-radio"
          class="inline-flex items-center justify-center w-8 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-green-700 hover:bg-green-500 peer-checked:text-white"
        >
          <fa-icon [icon]="faCheck"></fa-icon>
          <span class="sr-only">Green</span>
        </label>
      </div>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        formControlName="title"
        placeholder="Enter title"
        type="text"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>
  </div>
  <div>
    <app-btn typeBtn="submit" color="success">Create</app-btn>
  </div>
</form>
