<div class="container mx-auto flex mt-10">
  <div class="w-1/5 mr-4">
    <ul class="flex flex-col font-medium text-gray-700 mb-5">
      <li>
        <a class="block bg-sky-100 rounded py-1 px-3 text-sky-700"
          ><span class="material-symbols-outlined">view_kanban</span> Boards</a
        >
      </li>
      <li>
        <a class="block py-1 px-3"
          ><span class="material-symbols-outlined">inventory_2</span> Templates</a
        >
      </li>
      <li>
        <a class="block py-1 px-3"
          ><span class="material-symbols-outlined">home</span> Home</a
        >
      </li>
    </ul>

    <cdk-accordion>
      <cdk-accordion-item #accordionMenu="cdkAccordionItem">
        <button class="w-full py-1 px-2 flex justify-between items-center" type="button" (click)="accordionMenu.toggle()">
          My workspace
          <span class="material-symbols-outlined">{{ accordionMenu.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
        </button>
        <div [style.display]="accordionMenu.expanded ? '' : 'none' ">
          <ul class="ml-2 flex flex-col text-sm text-gray-700">
            <li>
              <a class="block py-1 px-3"
                ><span class="material-symbols-outlined">view_kanban</span> Boards</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><span class="material-symbols-outlined">favorite</span> Highlights</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><span class="material-symbols-outlined">grid_view</span> Views</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><span class="material-symbols-outlined">group</span> Members</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><span class="material-symbols-outlined">settings</span> Settings</a
              >
            </li>
          </ul>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
  <div class="w-full">
    <h1 class="text-lg font-bold mb-4"><span class="material-symbols-outlined">schedule</span> Recently viewed</h1>
    <div class="grid grid-cols-4 gap-4">
      @for (board of boards.value(); track board.id) {
        <a [routerLink]="['/app/boards', board.id]">
          <app-card-color [color]="board.backgroundColor">
            {{ board.title }}
          </app-card-color>
        </a>
      } @empty {
        <p class="text-sm text-gray-500">No boards yet. Create one to get started.</p>
      }
    </div>
  </div>
</div>
